<footer class="c-footer">
    <div class="c">
        <div class="row">
            <div class="col-50 col-ac-100">
                <div class="c-footer__contacts">
                    <div class="c-footer__contacts-item">
                        <a href="tel:380937234345">+38 093 723 4345</a>
                    </div>
                    <div class="c-footer__contacts-item">
                        <a href="mailto:office@zavitai.com.ua">office@zavitai.com.ua</a>
                    </div>
                </div>
            </div>
            <div class="col-50 col-ac-100">
                <div class="c-footer__union-group">
                    <img src="app/img/design/union-logo.png">
                    <h2>Член Спілки фахівців нерухомості України<h2>
                </div>
            </div>
        </div>
    </div>
</footer>
