<header class="c-header">
    <div class="c">
        <div class="row">
            <div class="c-header__top-group">
                <img src="app/img/design/zavitai-logo.png">
                <h1>операції з нерухомістю<h1>
            </div>
        </div>
    </div>
</header>
