@@include('../containers/_head.html')
<body>
<div class="c-table">
    <div class="c-table__cell">
        @@include('../containers/_c-header.html')
        @@include('../containers/_c-footer.html')
    </div>
</div>
@@include('../containers/_scripts.html')
</body>
</html>
