.c-footer {
    @include ce() {
        position: absolute;
        bottom: 0;
    }
    width: 100%;
    padding-bottom: 48px;
    .col-50 {
        @include ce() {
            position: absolute;
            bottom: 0;
        }
        &:nth-child(1) {
            left: 0;
        }
        &:nth-child(2) {
            right: 0;
        }
    }
    &__contacts {
        float: left;
        @include ac() {
            float: right;
            text-align: right;
            padding-bottom: 40px;
        }
        a {
            display: inline-block;
            font-size: 35px;
            @include ac() {
                font-size: 24px;
            }
        }
    }
    &__contacts-item {
        padding-top: 20px;
    }
    &__union-group {
        text-align: right;
        h2 {
            font-size: 30px;
            line-height: 42px;
            font-weight: lighter;
            max-width: 336px;
            margin-left: auto;
            @include ac() {
                font-size: 24px;
                line-height: 34px;
            }
        }
        img {
            margin-bottom: 10px;
        }
    }
}
