.c-header {
    @include ce() {
        position: absolute;
        top: 0;
    }
    width: 100%;
    padding-top: 70px;
    padding-bottom: 40px;
    &__top-group {
        text-align: right;
        @include ce() {
            position: absolute;
            top: 0;
            right: 0;
        }
        img {
            max-width: 100%;
            width: 571px;
        }
        h1 {
            text-align: right;
            font-size: 43px;
            font-weight: lighter;
            margin-top: 30px;
        }
    }
}
