.c-table {
    display: table;
    height: 100%;
    min-height: 600px;
    width: 100%;
    background-color: grey;
    background-image: url('../img/design/main-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    &__cell {
        display: table-cell;
        height: 100%;
        width: 100%;
        color: white;
    }
}
