$space-x: 76px;


/**********************************
font-family
**********************************/



/*********************
spacer
*********************/

$spacer:              10px;


/*********************
grid-system
*********************/

$gridSystem:          25, 50, 100;


/*********************
Медиа-выражения и grid-points
*********************/

/*** Медиа-выражения

*------------------------------------------------------------*
| Миксины для медиавыражений заданы в файле "pessio/_m.scss"; |
|             Система гридов задана в файле "pessio/_g.scss"; |
*------------------------------------------------------------*

*------------------------------------------------------------------------------------------------------------*
|   --Видимость медиа выражений--      --Пример использования--         --Система сеток--                    |
| A         B         C         D         E																	 |
| -∞        $b        $c        $d       +∞																	 |
| +++++++++++++++++++++++++++++++++++++++++                                   col-(25/33/50/66/100)			 |
| ++++++++++++++++++++++++++++++|----------      @include ad() { ... }        col-ad-(25/33/50/66/100)		 |
| ++++++++++++++++++++|--------------------      @include ac() { ... }        col-ac-(25/33/50/66/100)		 |
| ++++++++++|------------------------------      @include ab() { ... }        col-ab-(25/33/50/66/100)		 |
| ------------------------------|++++++++++      @include de() { ... }										 |
| --------------------|++++++++++++++++++++      @include ce() { ... }										 |
| ----------|++++++++++++++++++++++++++++++      @include be() { ... }										 |
| ----------|+++++++++++++++++++|----------      @include bd() { ... }										 |
| ----------|+++++++++|--------------------      @include bc() { ... }										 |
| --------------------|+++++++++|----------      @include cd() { ... }										 |
| 																											 |
|      A1    A4      A2        A3          																	 |
| -∞   $a1   $a4     $a2       $a3       +∞																	 |
| +++++|-----------------------------------      @include a1() { ... }        col-a1-(25/33/50/66/100)		 |
| +++++++++++|-----------------------------      @include a4() { ... }										 |
| +++++++++++++++++++|---------------------      @include a2() { ... }										 |
| +++++++++++++++++++++++++++++|-----------      @include a3() { ... }										 |
| 																											 |
|            E2           E1               																	 |
| -∞         $e2          $e1            +∞																	 |
| -----------|+++++++++++++++++++++++++++++      @include e2() { ... }										 |
| ------------------------|++++++++++++++++      @include e1() { ... }										 |
| 																											 |
|        P1(1)                 P1(2)       	   																 |
| -∞     $p1[1]                $p1[2]    +∞	   																 |
| -------|+++++++++++++++++++++|-----------      @include p1() { ... }										 |
*------------------------------------------------------------------------------------------------------------*
*/
$a1:                  776px;

$b:                   800px;
$c:                   900px;
$d:                   1250px;

$e1:                  1700px;


$p1:                  630px, 1000px;


/*********************
width for center blocks
*********************/

/*
 some page
 ___________________________________________________
|.w    _______________________________________	    |
|     |.c (max-width: $max-width;)			  |	    |
|     | _____________________________________ |	    |
|     ||div					                 ||	    |
|     ||									 ||	    |
|     | ------------------------------------- |	    |
|     |    _______________________________	  |	    |
|     |   |.some-class (				  |	  |	    |
|     |   |max-width: $max-width-inside;) |	  |	    |
|     |    -------------------------------    |	    |
|      --------------------------------------- 	    |
 ---------------------------------------------------

*/
$max-width:           1310px;
$max-width-inside:    800px;
